:root {

    color-scheme: light dark;
}

.set-box-shadow {
    box-shadow: #06b6d4 0px 0px 15px, inset rgba(0,163,255,0.8) 0px 0px 20px, #4d00ff 0px 0px 20px, #4d00ff 0px 0px 40px;
}

.set-box-shadow-onCompleted {
    box-shadow: #06b6d4 0px 0px 15px, inset rgba(0,163,255,0.8) 0px 0px 20px, #4d00ff 0px 0px 20px, #4d00ff 0px 0px 40px;
}

.set-box-shadow-onPending {
    box-shadow: #0080ff 0px 0px 15px, inset rgba(255, 0, 88, 0.68) 0px 0px 20px, #ff1493 0px 0px 20px, rgb(0, 67, 255) 0px 0px 40px;
}

.set-clip-path {
    clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);
}

.set-bg-opacity {
    background: rgba(0,0,0,0.4);
}